*.pyc
*egg-info*
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.factimonious/
.ghostship/
build/
dist/
scancode-license-report.json